<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mission to Mars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .jumbotron {
        background: #ba9766 linear-gradient(#ba9766, #fae6ca);
        background-size: 100% 100%;
        overflow: auto;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
<body style="background-color:bisque">
    <div class="container-fluid" style="background-color:bisque">
        <div class="jumbotron text-center">
        <h1 style="font-family:monospace"><strong>Mission to Mars</strong> </h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <h6 style="font-family:monospace"> Last Updated: {{mars_data.last_mod}}</h6>
        <h2 style="font-family:monospace"><strong>Mars News:</strong> </h2>
        <h3 style="font-family:monospace">{{mars_data.news_title}}</h3>
           <p style="font-family:monospace">{{mars_data.news_par}}</p>
        </div>
    </div>
    <div class="row">
      <div class="container-fluid col-6" style="background-color:bisque ">
          <h2 style="font-family:monospace">Featured Mars Image</h2>
          <br>
          <img width="300 px" height="300 px"src="{{mars_data.featured_image_url}}" alt="Featured Mars Image">
      </div>
        <div class="container-fluid col-6"style="background-color:bisque">
          <div class="border" style="border-color: black; border-width: thin;">
              <h3 style="font-family:monospace">Mars Facts</h3>
              {{mars_data.mars_facts | safe}}
          
          </div>
      </div>
    </div>
    <hr>
    <div class="row" style="background-color:bisque">       
        {% for hemisphere in mars_data.mars_hemi%} 
          <div class="col-6 border">
          </br>
                <div>
                  <img width="200 px" height="200 px" src="{{ hemisphere.img_url | safe }}">
                </div>

                <div>
                  <h4 tyle="font-family:monospace"> {{hemisphere.title | safe}} </h4>  
                </div>
        
          </div>
        {% endfor %}
        <h6 style="font-family:monospace"> Last Updated: {{mars_data.last_mod}}</h6>  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    
</body>
</html>